#wallpaper{
background-image: url(wallpaper.png);
background-repeat: no-repeat;
background-size: 100%;  
font-family: 'Anton', sans-serif;
}

#timer{
color:aliceblue;
}

#logo{
margin-bottom: 50px;
}

.question{
font-weight: 800;
    
    
}

.answers {
margin-top: 10px;
margin-bottom: 10px;
color: aliceblue;
}

.jumbotron {
background-image: url("assets/images/blizzhead.jpg");
background-size: cover;}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #d39c39;
color: white;
text-align: center;
    
 }

.footer a{
color: black;
}
